@import "tailwindcss";

@layer base {
  ::selection {
    @apply bg-[#697565] text-white;
  }
}

:root {
  --bg-color: #faf7f2;
  --surface-color: #ede9e1;
  --surface-alt-color: #e0dbd0;
  --border-color: #cfc9bb;
  --text-primary: #1e201e;
  --text-secondary: #6f9072;
  --accent-color: #697565;
  --container-text: #444;
  --title-color: #000;
}

[data-theme="dark"] {
  --bg-color: #1e201e;
  --surface-color: #262825;
  --surface-alt-color: #2d2f2b;
  --border-color: #3c3d37;
  --text-primary: #ecdfcc;
  --text-secondary: #697565;
  --accent-color: #53594e;
  --container-text: #ddd;
  --title-color: #fff;
}

.theme-title-text {
  color: var(--title-color);
}

.theme-container-text {
  color: var(--container-text);
}

.theme-background {
  background-color: var(--bg-color);
}

.theme-surface {
  background-color: var(--surface-color);
}

.theme-surface-border {
  border-color: var(--surface-color);
}

.theme-surface-alt {
  background-color: var(--surface-alt-color);
}

.theme-border-background {
  background-color: var(--border-color);
}

.theme-background-hover:hover {
  background-color: var(--bg-color);
}

.theme-surface-hover:hover {
  background-color: var(--surface-color);
}

.theme-primary-text-border {
  border-color: var(--text-primary);
}

.theme-primary-text-background {
  background-color: var(--text-primary);
}

.theme-border {
  border-color: var(--border-color);
}

.theme-text-primary {
  color: var(--text-primary);
}

.theme-text-secondary-hover:hover {
  color: var(--text-secondary);
}

.theme-text-secondary {
  color: var(--text-secondary);
}

.theme-secondary-background {
  background-color: var(--text-secondary);
}

.theme-accent {
  color: var(--accent-color);
}

.theme-accent-background {
  background-color: var(--accent-color);
}

.theme-accent-text {
  color: var(--accent-color);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.showAnimation {
  animation: show forwards 1s ease-in-out;
}

.gradient {
  background: linear-gradient(180deg, var(--bg-color), var(--surface-color));
  transition: all 0.3s ease-in;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(100, 200, 255, 0.8),
      0 0 10px rgba(100, 200, 255, 0.8), 0 0 20px rgba(100, 200, 255, 0.8);
  }
  50% {
    text-shadow: 0 0 10px rgba(100, 200, 255, 0.4),
      0 0 20px rgba(100, 200, 255, 0.4), 0 0 30px rgba(100, 200, 255, 0.4);
  }
  100% {
    text-shadow: 0 0 5px rgba(100, 200, 255, 0.8),
      0 0 10px rgba(100, 200, 255, 0.8), 0 0 20px rgba(100, 200, 255, 0.8);
  }
}
